textarea {
	width: 100%;
}
.bubble {
	background: #ccc;
	border-radius: 4px;
	padding: 0 .3em;
}
.container {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	max-width: unset;
}
.modal-dialog {
	max-width: 85%;
}
.reference-item {
	background-color: #fff8e1 !important;
}
.reordableList {
	display: flex;
	flex-direction: column;
}
.reordableList li {
	order: 2;
}
.reordableList li.highlight {
	order: 1;
}
.reordableList li.highlight .bubble {
	background: lightskyblue;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.snak-undefined {
	background-color: rgba(255,0,0,.3) !important;
}
html.stickyfooter {
	height: 100%;
}
.stickyfooter body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.stickyfooter main {
	flex: 1;
}
.table-settings select {
	width: 100%;
}
.table-settings td:nth-child(2n) {
	text-align: right;
}
.tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #f8d7da !important;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-left .tooltipster-arrow-border {
	border-left-color: #f5c6cb !important;
}
.tooltipster-sidetip.tooltipster-error .tooltipster-box {
	background-color: #f8d7da !important;
	border-color: #f5c6cb !important;
}
.tooltipster-sidetip.tooltipster-error .tooltipster-content {
	color: #721c24 !important;
}
#table-container {
	height: 95vh;
	max-height: 100vh;
	overflow: scroll;
	width: 100%;
}
#table-container a[href="#collapse"] {
	position: absolute;
	right: .5em;
}
#table-container table {
	margin-bottom: 0;
}
#table-container #table-closefullscreen {
	display: none;
}
#table-container.fullscreen {
	background-color: #fff;
	height: 100%;
	max-height: unset;
	left: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	width: 100%;
}
#table-container.fullscreen #table-closefullscreen {
	display: block;
	font-size: 2em;
	position: fixed;
	right: 1em;
	top: 0;
	z-index: 10;
}
#table-container th {
	background-color: #eee;
}
#table-container tr.collapsed div {
	max-height: 2.25em;
	overflow-y: hidden;
}
#table-container ul {
	margin-bottom: 0;
	padding-left: 1em;
}
