	<div id="modal-settings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-settings-label" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="modal-settings-label" class="modal-title">Advanced Settings</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table" role="grid">
						<tbody>
							<tr>
								<th scope="row" colspan="2"><label class="form-check-label" for="setting-language-label">Label language</label></th>
								<td colspan="2">
									<input id="setting-language-label" class="form-control" type="text" list="languages" value="en" />
								</td>
							</tr>
							<tr>
								<th scope="row" colspan="2"><label class="form-check-label" for="setting-ui-displaylangalias">Displayed languages for aliases</label></th>
								<td colspan="2">
									<input id="setting-ui-displaylangalias" class="form-control" type="text" list="languages" /><br/>
									<small>(Separated by commas, leave empty to display all)</small>
								</td>
							</tr>
							<tr>
								<th scope="row" colspan="2"><label class="form-check-label" for="setting-ui-displaylangdescription">Displayed languages for descriptions</label></th>
								<td colspan="2">
									<input id="setting-ui-displaylangdescription" class="form-control" type="text" list="languages" /><br/>
									<small>(Separated by commas, leave empty to display all)</small>
								</td>
							</tr>
							<tr>
								<th scope="row"><label class="form-check-label" for="setting-ui-displayimages">Display images</label></th>
								<td>
									<input id="setting-ui-displayimages" class="form-check-input" type="checkbox" />
								</td>
								<th scope="row"><label class="form-check-label" for="setting-ui-collapsesitelinks">Pre-collapse sitelinks</label></th>
								<td>
									<input id="setting-ui-collapsesitelinks" class="form-check-input" type="checkbox" checked />
								</td>
								
							</tr>
							<tr>
								<th scope="row"><label class="form-check-label" for="setting-ui-stickyheaderrow">Sticky header row</label></th>
								<td>
									<input id="setting-ui-stickyheaderrow" class="form-check-input" type="checkbox" checked />
								</td>
								<th scope="row"><label class="form-check-label" for="setting-ui-collapsedescriptions">Pre-collapse descriptions</label></th>
								<td>
									<input id="setting-ui-collapsedescriptions" class="form-check-input" type="checkbox" checked />
								</td>
							</tr>
							<tr>
								<th scope="row"><label class="form-check-label" for="setting-ui-stickyheadercolumn">Sticky header column</label></th>
								<td>
									<input id="setting-ui-stickyheadercolumn" class="form-check-input" type="checkbox" checked />
								</td>
								<th scope="row"><label class="form-check-label" for="setting-ui-collapsealiases">Pre-collapse aliases</label></th>
								<td>
									<input id="setting-ui-collapsealiases" class="form-check-input" type="checkbox" checked />
								</td>
							</tr>
							<tr>
								<th scope="row"><label class="form-check-label" for="setting-ui-visitedlinks">Make visited links purple</label></th>
								<td>
									<input id="setting-ui-visitedlinks" class="form-check-input" type="checkbox" checked />
								</td>
								<th scope="row"><label class="form-check-label" for="setting-ui-displaywdid">Display Wikidata IDs rather than labels</label></th>
								<td>
									<input id="setting-ui-displaywdid" class="form-check-input" type="checkbox" />
								</td>
							</tr>
						</tbody>
					</table>
					<datalist id="languages"></datalist>
				</div>
				<div class="modal-footer">
					<div class="btn-group" role="group">
						<button id="button-settings-save" type="button" class="btn btn-primary">Save</button>
						<a id="button-settings-geturl" href="#" class="btn btn-secondary">Get URL</a>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
