<div id="modal-permalink" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-permalink-label" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="modal-permalink-label" class="modal-title">Create sharable permalink</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<table class="table table-settings" role="grid">
					<tbody>
						<tr>
							<th scope="row" colspan="2"><label class="form-check-label" for="permalink-label">Display name</label></th>
							<td colspan="2">
								<input id="permalink-label" class="form-control" type="text" checked />
							</td>
						</tr>
						<tr>
							<th scope="row" colspan="2"><label class="form-check-label" for="permalink-includeditems">Include current items</label></th>
							<td colspan="2">
								<input id="permalink-includeditems" class="form-check-label" type="checkbox" checked />
							</td>
						</tr>
						<tr>
							<th scope="row" colspan="2"><label class="form-check-label" for="permalink-filterproperties">Filter displayed properties</label></th>
							<td colspan="2">
								<input id="permalink-filterproperties" class="form-check-label" type="checkbox" />
							</td>
						</tr>
						<tr>
							<th scope="row" colspan="2"><label class="form-label" for="permalink-displayedproperties">Displayed properties</label></th>
							<td colspan="2">
								<select id="permalink-displayedproperties" multiple></select>
							</td>
						</tr>
						<tr>
							<th scope="row" colspan="2"><label class="form-check-label" for="permalink-queryonloaded">Load data as soon as page is loaded</label></th>
							<td colspan="2">
								<input id="permalink-queryonloaded" class="form-check-label" type="checkbox" />
							</td>
						</tr>
						<tr>
							<th scope="row" colspan="2"><label class="form-check-label" for="permalink-fullscreen">Activate fullscreen mode</label></th>
							<td colspan="2">
								<input id="permalink-fullscreen" class="form-check-label" type="checkbox" />
							</td>
						</tr>
						<tr>
							<th scope="row" colspan="2"><label class="form-check-label" for="permalink-settings">Apply current settings</label></th>
							<td colspan="2">
								<input id="permalink-settings" class="form-check-label" type="checkbox" />
							</td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<label for="permalink-output">Sharable permalink</label>
					<div style="display:flex">
						<input id="permalink-output" class="form-control" type="text" readonly style="flex:1" />
						<a id="button-permalink-open" class="btn btn-primary" href="#"  style="margin-left:.25em">Open</a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
