<!doctype html>
<html class="stickyfooter" lang="en">
<head>
<meta charset="utf-8" />
<title><%= htmlWebpackPlugin.options.title %></title>
<meta name="author" content="nw520" />
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
<link rel="stylesheet" href="data/components/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="data/components/tooltipster/css/tooltipster.bundle.min.css" />
<link rel="stylesheet" href="data/components/tooltipster/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css" />
<link rel="stylesheet" href="data/css/style.css" />
</head>

<body>
<nav class="bg-dark navbar navbar-dark navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">EntityCompare</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="nav navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navitem-tools" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Wikidata tools</a>
					<div class="dropdown-menu" aria-labelledby="navitem-tools">
						<a class="dropdown-item" href="https://muekoeff.gitlab.io/rsolver/" rel="noopener">Rsolver</a>
						<a class="dropdown-item" href="https://muekoeff.github.io/wikiosmerged/" rel="noopener">WikiOSMerged</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-settings">Settings</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<main class="container-fluid py-5">
	<div>
		<textarea id="commands" class="form-control" rows="10"></textarea>
	</div>
	<br />
	<div class="align-items-center d-flex">
		<button id="button-parse" class="btn btn-primary" disabled>Go</button>
		<p class="flex-grow-1 m-0 mx-3">Please enter one ID per line. The first one will be used as reference</p>
		<div class="btn-group" role="group">
			<a id="button-permalink" class="btn btn-secondary disabled" href="#" title="Create sharable permalink" data-bs-toggle="modal" data-bs-target="#modal-permalink">🔗</a>
			<a id="button-settings" class="btn btn-secondary" href="#" title="Open settings" data-bs-toggle="modal" data-bs-target="#modal-settings">⚙️</a>
		</div>
	</div>
	<div id="rowTable" class="mt-5">
		<div class="align-items-end d-flex">
			<h3 class="flex-grow-1">Data</h3>
			<a href="#toggle_wdid">Display Wikidata IDs</a> <span class="mx-2">&bull;</span> <a href="#fullscreen">Display fullscreen</a>
		</div>
		<div>
			<div id="table-container">
				<a id="table-closefullscreen" href="#fullscreen">&times;</a>
				<table id="table-output" class="table table-striped" role="grid">
					<thead>
						<tr role="row">
							<th scope="col">Items</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="5">No data</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
<footer class="footer pb-5">
	<div class="container-fluid text-end">
		<span class="text-muted">
			Tool made by <a href="https://muekev.de/" target="_blank" rel="noopener">nw520</a> <small>(<a href="https://www.wikidata.org/wiki/User:Nw520" target="_blank" rel="noopener">@ Wikidata</a>)</small>.<br/>
			<a href="https://gitlab.com/muekoeff/entitycompare" target="_blank" rel="noopener">Source code @ GitLab</a> &bull; <a href="https://gitlab.com/muekoeff/entitycompare/issues" target="_blank" rel="noopener">Report bugs @ GitLab</a>
		</span>
	</div>
</footer>

<%= require('html-loader!./partials/modal-permalink.html').default %>
<%= require('html-loader!./partials/modal-settings.html').default %>
<script src="data/components/jquery/jquery.min.js"></script>
<script src="data/components/bootstrap/bootstrap.bundle.min.js"></script>
<script src="data/components/tooltipster/js/tooltipster.bundle.min.js"></script>
</body>
</html>
